<!-- <!DOCTYPE html>
<html>
<body>
  <h2>User Form</h2>

  <form action="/upload" method="post" enctype="multipart/form-data">
    Name: <input type="text" name="name"><br><br>
    Email: <input type="email" name="email"><br><br>

    Image: <input type="file" name="image"><br><br>

    <input type="submit">
  </form>

</body>
</html> -->


<!DOCTYPE html>
<html>
<body>
  <h2>User Form</h2>
  <form action="/upload" method="post" enctype="multipart/form-data">
    Name: <input type="text" name="name"><br><br>
    Email: <input type="email" name="email"><br><br>
    Image: <input type="file" name="image"><br><br>
    <input type="submit">
  </form>
</body>
</html>